body { background-image: url(https://images2.alphacoders.com/718/thumb-1920-71830.jpg);
    background-position-y: 900px;
    

}



h1 { 
    text-align: center;
    color: #2067c4;
}

h2
{
    text-align: center;
    padding: 20px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;

   

}


   



h3
{
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    color:#285CBD;
    


}


.columns1
{
    display: flex;
    padding: 20px;
}

.columns2
{
    display: flex;
    padding: 20px;
    text-align: center;
}

.columns3
{
    display: flex;
    padding: 20px;
    justify-content: center;
    text-size-adjust: 10px;
}





.columns1 p
{
justify-content: center;
font-size: 15px;
margin-top: 5px;
margin-left: 15px;

}

.columns2 p
{

font-size: 15px;
margin-bottom: 20px;
margin-left: 90px;
text-align: justify;


}

.colums3 p {

    font-size: 15px;
    margin-bottom: 20px;
    margin-left: 90px;
    justify-content: center;
}